@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Regular.woff2') format('woff2'),
         url('fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Black.woff2') format('woff2'),
         url('fonts/Satoshi-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body {
    background-color: #0d1b2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.navbar {
    background-color: black;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-grow: 1;
    justify-content: center;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    gap: 70px;
    padding-left: 70px
}

.nav-login {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.nav-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    color: black;
    background-color: white;
    border-radius: 50%;
    font-size: 18px;
}


.register-container {
    background-color: #16324F;
    width: 720px;
    padding: 40px;
    margin-top: 70px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.login-container {
    background-color: #16324F;
    width: 450px;
    padding: 40px;
    margin-top: 70px;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
}

h2, h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.profile-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.register-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    text-align: left;
}

.profile-section, .password-section {
    text-align: left;
}

.gender-age {
    display: flex;
    gap: 20px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    font-size: 14px;
    margin-bottom: 15px;
}


.btn-proses {
    width: 100%;
    padding: 14px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    font-size: 16px;
}

.btn-login {
    width: 55%;
    padding: 8px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    font-size: 16px;
}

.register-footer {
    text-align: center;
    margin-top: 20px;
}

.register-footer a {
    color: #71b0f4;
    text-decoration: underline;
}
.login-footer {
    text-align: center;
    margin-top: 20px;
}
.login-footer a {
    color: #71b0f4;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .register-container {
        width: 90%;
        padding: 30px;
    }

    .register-content {
        flex-direction: column;
        gap: 20px;
    }

    .gender-age {
        flex-direction: column;
    }

    input {
        font-size: 14px;
    }

    .nav-links {
        gap: 20px;
    }

    .nav-links a {
        padding-left: 20px;
    }
}


@media (max-width: 480px) {
    h2 {
        font-size: 22px;
    }

    .profile-title {
        font-size: 18px;
        justify-content: center;
    }

    .register-container {
        width: 95%;
        padding: 20px;
    }

    input {
        padding: 10px;
        font-size: 14px;
    }

    .register-btn {
        font-size: 14px;
        padding: 10px;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .nav-profile {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}